<div>
    <mat-toolbar color="primary" class="app-header">
        <span>
        </span>
        <!-- <div><a href="#" target="_blank" class="positronx">The Angkringan</a></div> -->
        <button mat-raised-button color="accent" class="add-btn">
            <mat-icon (click)="addCategory()">add</mat-icon>
        </button>
    </mat-toolbar>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
        
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Category Name</mat-header-cell>
            <mat-cell class="description-cell"
                        *matCellDef="let category">{{category.category_name}}</mat-cell>
    
        </ng-container>
        
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell class="description-cell"
                *matCellDef="let category">
                <span *ngIf="category.status == 1">
                    Enabled
                </span>
                <span *ngIf="category.status == 0">
                    Disabled
                </span>
            </mat-cell>
    
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns" 
            (contextmenu)="onContextMenu($event, row)" 
            matTooltip="Right-click for option"
            matTooltipPosition="before">
        </mat-row>
    
    </mat-table>
    <mat-paginator class="paginator-left" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

</div>
            
<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="viewCategory()">View</button>
        <button mat-menu-item *ngIf="selectedStatus == '1'" (click)="disableCategory()">Disable</button>
        <button mat-menu-item *ngIf="selectedStatus == '0'" (click)="disableCategory()">Enable</button>
    </ng-template>
</mat-menu>