.action-bar{
    justify-content:space-between;
    top:0;
    left:0;
    right:0;
}

.app-header{
    width: auto;
    padding: 0;
    justify-content:space-between;
    z-index:2;
    background-color: transparent;
}

.mat-row:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.add-btn {
    width: auto;
    padding: 0 !important;
}