<h2 mat-dialog-title>{{ selectedUser }}</h2>

<form>
    <mat-dialog-content [formGroup]="editUserForm">

        <mat-form-field>
            <input matInput
                    placeholder="Full name"
                    formControlName="fullname">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Email"
                    formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Phone number"
                    formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput
                    placeholder="Address"
                    formControlName="address"
                    matTextareaAutosize 
                    matAutosizeMinRows=1 
                    matAutosizeMaxRows=3></textarea>
        </mat-form-field>
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <!-- <button class="mat-raised-button mat-primary"(click)="saveEditCategory()">Save</button> -->
    </mat-dialog-actions>
</form>