// mat-card-header {
//     margin-bottom: 16px;
// }

// .login-wrapper{
//     height:100vh;
//     width: 100vw;
//     min-height:100vh;
//     background-image:url(https://img.theculturetrip.com/1440x807/smart/wp-content/uploads/2017/03/3326581601_fa5acb8f72_o.jpg);
//     // background-image:url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
//     background-position:center;
//     background-size:cover;
//     background-repeat:no-repeat;
//     font-family:'Roboto', sans-serif;
//     opacity: 10;
// }
// .layer{
//     height: 100vh;
//     width: 100vw;
//     position: absolute;
//     background-color: black;
//     opacity: .5;
// }
// .box{
//     position:absolute;
//     top:50%;
//     left:50%;
//     opacity:1;
//     float:left;
//     padding:40px 60px 40px 60px;
//     margin-right: 1em;
//     margin-left: 1em;
//     width:100%;
//     background:#fff;
//     border-radius:3px;
//     -moz-transform: translateX(-50%) translateY(-50%);
//     -webkit-transform: translateX(-50%) translateY(-50%);
//     transform: translateX(-50%) translateY(-50%);
//     z-index:5;
//     max-width:330px;}
// .box.back{
//     transform:scale(.95);
//     -webkit-transform:scale(.95);
//     -ms-transform:scale(.95);
//     top:-20px;
//     opacity:.8;
//     z-index:-1;}
// .box:before{
//     content:"";
//     width:100%;
//     height:30px;
//     border-radius:3px;
//     position:absolute;
//     top:-10px;
//     background:rgba(255, 255, 255, .6);
//     left:0;
//     transform:scale(.95);
//     -webkit-transform:scale(.95);
//     -ms-transform:scale(.95);
//     z-index:-1;}
// .login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
// .login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}
// .login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
// .login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
// .login-wrapper .mat-card{padding:40px 70px 50px;}
// .login-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;}
// .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}

// .login-wrapper .btn-block {
//     margin-top: 16px;
// }

// .mat-form-field-infix span label {
//     color: blue
// }

mat-card-title {
    font-size: 2em;
    font-weight: 700;
}

form {
    margin-top: 1.5em;
}

.full-page{
    height: 100%;
    display: flex;
    background-image:url(https://theangkringan.harmonydshine.web.id/admin/img/login_cover.jpg);
    // background-image:url(https://img.theculturetrip.com/1440x807/smart/wp-content/uploads/2017/03/3326581601_fa5acb8f72_o.jpg);
//     // background-image:url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.login-card {
    margin: auto;
    width: 300px;
    max-width:330px;

    padding:40px 40px 40px 40px;
    background:#fff;
    border-radius:3px;
    z-index:5;
    text-align: center;
}

.login-field {
    width: 100%;
}

.layer{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: .5;
}