<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="layer">

    </div>
    <mat-card class="box">
        <mat-card-header>
        <mat-card-title>The Angkringan</mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                <input matInput formControlName="username" placeholder="Username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                <input matInput formControlName="password" placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <mat-error *ngIf="errorLogin">Periksa username dan password anda</mat-error>
            <button mat-stroked-button color="accent" class="btn-block" (click)="login()" [disabled]="loginForm.invalid">Log in</button>
        </form>
    </mat-card>

</div> -->

<div class="full-page">
    <div class="layer">

    </div>
    <mat-card class="login-card">
        <mat-card-title>
            The Angkringan
        </mat-card-title>
        <form>
            <mat-card-content [formGroup]="loginForm">
                <mat-form-field class="login-field">
                    <input matInput placeholder="Username" formControlName="username"/>
                </mat-form-field>
                <mat-form-field class="login-field">
                    <input matInput type="password" placeholder="Password" formControlName="password"/>
                </mat-form-field>
                
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                        class="login-field" (click)="login()" [disabled]="loginForm.invalid">
                    Login
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>