<h2 mat-dialog-title>{{ selectedRecipe }} <span style="font-weight: 100; font-size: .7em;">recipe</span></h2>

<form>
    <mat-dialog-content [formGroup]="viewRecipeForm">
        <div class="img-container">
            <img class="img-body" [src]="imgURL" height="200" width="200" *ngIf="imgURL">
        </div>
        
        <mat-form-field>
            <input matInput
                    placeholder="Recipe name"
                    formControlName="recipe_name" readonly>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput
                    placeholder="Recipe category"
                    formControlName="recipe_category" readonly>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput
                    placeholder="Recipe description"
                    formControlName="description"
                    matTextareaAutosize 
                    matAutosizeMinRows=1 
                    matAutosizeMaxRows=3 readonly></textarea>
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput
                    placeholder="Recipe image"
                    formControlName="image">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Recipe gallery"
                    formControlName="gallery">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Recipe video"
                    formControlName="video">
        </mat-form-field> -->

        <mat-form-field>
            <input matInput
                    placeholder="Ingredients"
                    formControlName="inggridients" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Cooking method"
                    formControlName="cookmethd" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Recipe province"
                    formControlName="province" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Recipe city"
                    formControlName="city" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Creator"
                    formControlName="fullname" readonly>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" formControlName="status">
                <mat-option *ngFor="let stat of status" [value]="stat.value">
                {{stat.status_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveRecipe()">Save</button>
    </mat-dialog-actions>
</form>