<div>
    <!-- <mat-toolbar color="primary" class="app-header">
        <span>
        </span> -->
        <!-- <div><a href="#" target="_blank" class="positronx">The Angkringan</a></div> -->
        <!-- <button mat-raised-button color="accent" class="add-btn">
            <mat-icon (click)="addUser()">add</mat-icon>
        </button>
    </mat-toolbar> -->
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
        
        <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="description-cell"
                        *matCellDef="let user">{{user.fullname}}</mat-cell>
    
        </ng-container>
        
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell class="description-cell"
                        *matCellDef="let user">{{user.email}}</mat-cell>
    
        </ng-container>
    
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell class="description-cell"
                *matCellDef="let user">
                <span *ngIf="user.status == 1">Active</span>
                <span *ngIf="user.status == 0">Banned</span>
            </mat-cell>
    
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns" 
            (contextmenu)="onContextMenu($event, row)"
            matTooltip="Right-click for option"
            matTooltipPosition="before">
        </mat-row>
    
    </mat-table>
    <mat-paginator *ngIf="dataSource" class="paginator-left" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

</div>
            
            
<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
<ng-template matMenuContent>
    <button mat-menu-item (click)="viewUser()">View</button>
    <button mat-menu-item *ngIf="selectedStatus == '1'" (click)="disableUser()">Ban</button>
    <button mat-menu-item *ngIf="selectedStatus == '0'" (click)="disableUser()">Unban</button>
</ng-template>
</mat-menu>