mat-form-field {
    width: 100%;
}

.img-container {
    display: inline-block;
    background: black;
    background-image: url("https://icon-library.net/images/camera-icon-png-white/camera-icon-png-white-8.jpg");
    background-size: 60px 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.msg-container {
    margin-bottom: 1em;
}

.img-container img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.img-container:hover img {
    opacity: .3;
}

.img-body {
    cursor: pointer;
}