
<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
      <mat-nav-list>
        <a *ngFor="let router of routers; let i = index" mat-list-item [routerLink]="[router.link]" (click)="setActive(i)" [ngClass]="(router.active) ? 'active' : false">
            <i class="material-icons">
                {{router.icon}}
            </i>
            {{router.title}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="app-header">
            <span *ngIf="!smartphone"></span>
            <button *ngIf="smartphone" mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <!-- <div><a href="#" target="_blank" class="positronx">The Angkringan</a></div> -->
            <button mat-icon-button>
                <mat-icon (click)="logout()">logout</mat-icon>
            </button>
        </mat-toolbar>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>