mat-sidenav {
    width: 250px;
}

mat-sidenav-content {
    height: 100vh;
}

.material-icons {
    margin-right: 5px;
}

.app-header{
    justify-content:space-between;
    top:0;
    left:0;
    right:0;
    z-index:2;
    box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}

.router-outlet {
    padding: 0 1em 1em 1em;
}

.active {
    color: #3f51b5;
    background-color: #f3f3f3;
}