// html,body{height:100%;margin:0;padding:0;}
// mat-sidenav-container mat-nav-list {
//     width: 250px;
//     padding-top: 4em;
// }

// .app-header{justify-content:space-between;position:fixed;top:0;left:0;right:0;z-index:2;box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}
// .positronx{text-decoration:none;color:#ffffff;}

.app-view {
    height: 100vh;
    width: 100vw;
}