<h2 mat-dialog-title>New user</h2>

<form>
    <mat-dialog-content [formGroup]="addUserForm">

        <mat-form-field>
            <input matInput
                    placeholder="Username"
                    formControlName="username">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Password"
                    formControlName="password">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Full name"
                    formControlName="fullname">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Gender"
                    formControlName="gender">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Email"
                    formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Phone number"
                    formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput
                    placeholder="Address"
                    formControlName="address"
                    matTextareaAutosize 
                    matAutosizeMinRows=1 
                    matAutosizeMaxRows=3></textarea>
        </mat-form-field>
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveUser()">Save</button>
    </mat-dialog-actions>
</form>