<h2 mat-dialog-title>{{ selectedCategory }} <span style="font-weight: 100; font-size: .7em;">category</span></h2>

<form>
    <mat-dialog-content [formGroup]="editCategoryForm">
        <div class="img-container">
            <img class="img-body" [src]="imgURL" height="200" width="200" *ngIf="imgURL" (click)="file.click()">
            <input hidden (change)="preview(file.files)" #file type="file" id="file">
        </div>
        <div class="msg-container">
            <span style="color:red;font-size: .8em; font-style: italic;" *ngIf="message">{{message}}</span>
            <span style="font-size: .8em; font-style: italic;" *ngIf="!message">File size must not exceed 100 KB</span>
        </div>

        <mat-form-field>
            <input matInput
                    placeholder="Category name"
                    formControlName="category_name">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput
                    placeholder="Category description"
                    formControlName="description"
                    matTextareaAutosize 
                    matAutosizeMinRows=1 
                    matAutosizeMaxRows=3></textarea>
        </mat-form-field>

        <!-- <ng-container>
            <mat-form-field>
                <input matInput
                        placeholder="Category image"
                        formControlName="image">
            </mat-form-field>
        </ng-container> -->
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveEditCategory()">Save</button>
    </mat-dialog-actions>
</form>