<h2 mat-dialog-title>Slider</h2>

<form>
    <mat-dialog-content [formGroup]="editSliderForm">
        <div class="img-container">
            <img class="img-body" [src]="imgURL" height="200" width="200" *ngIf="imgURL" (click)="file.click()">
            <input hidden (change)="preview(file.files)" #file type="file" id="file">
        </div>
        <div class="msg-container">
            <span style="color:red;font-size: .8em; font-style: italic;" *ngIf="message">{{message}}</span>
            <span style="font-size: .8em; font-style: italic;" *ngIf="!message">File size must not exceed 100 KB</span>
        </div>
        
        <mat-form-field>
            <input matInput
                    placeholder="Slider title"
                    formControlName="title">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput
                    placeholder="Slider subtitle"
                    formControlName="subtitle">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput
                    placeholder="Slider link"
                    formControlName="link">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput
                    placeholder="Slider url"
                    formControlName="url">
        </mat-form-field>
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveEditSlider()" [disabled]="editSliderForm.invalid">Save</button>
    </mat-dialog-actions>
</form>