<h2 mat-dialog-title>Disable user</h2>

<form>
    <mat-dialog-content [formGroup]="disableUserForm">

        <mat-form-field>
            <mat-select placeholder="Disable for" formControlName="disable">
                <mat-option value="3days">3 days</mat-option>
                <mat-option value="7days">7 days</mat-option>
                <mat-option value="30days">30 days</mat-option>
                <mat-option value="permanent">Permanent</mat-option>
            </mat-select>
        </mat-form-field>
        
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveDisableUser()">Save</button>
    </mat-dialog-actions>
</form>