<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="left">
    <div fxFlex="20%">
        <mat-card class="card-picture" style="background-color: #ff5252;">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                Category
            </mat-card-title>
            <span class="dashboard-value">{{ category }}</span>
            <i class="material-icons" style="position: absolute; font-size: 100px; right: 0; top: 0; opacity: .3; margin-top: .1em;">
                apps
            </i>
        </mat-card>
    </div>
    <div fxFlex="20%">
        <mat-card class="card-picture" style="background-color: #81c784;">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                Recipe
            </mat-card-title>
            <span class="dashboard-value">{{ recipe }}</span>
            <i class="material-icons" style="position: absolute; font-size: 100px; right: 0; top: 0; bottom: 0; opacity: .3; margin-right: .1em; margin-top: .1em;">
                fastfood
            </i>
        </mat-card>
    </div>
    <div fxFlex="20%">
        <mat-card class="card-picture" style="background-color: #64b5f6;">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                Member
            </mat-card-title>
            <span class="dashboard-value">{{ member }}</span>
            <i class="material-icons" style="position: absolute; font-size: 100px; right: 0; top: 0; bottom: 0; opacity: .3; margin-top: .1em;">
                person
            </i>
        </mat-card>
    </div>
</div>